# .env.example
# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ov_website"

# Next Auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key"

# Admin credentials for seeding
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="your-secure-password"